   <!-- Footer -->
<footer class=" bg-gray-900 text-white py-8 mt-12">
    <div class="text-lg max-w-5xl mx-auto flex justify-between items-center px-6 flex-wrap">
        <p>&copy; 2024 Arthini. All rights reserved.</p>
        <div class="space-x-4">
            <a href="#" class="hover:text-pink-500"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="hover:text-pink-500"><i class="fab fa-twitter"></i></a>
            <a href="#" class="hover:text-pink-500"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>